a:link {
    color: #EEE2Dc;
}

a:visited {
    color: #AC3B61;
}

a:hover {
    color: #BAB2B5;
}

a:active {
    color: #123c69;
}

* {
    background-color: #EDC7B7;
}

.diffrent-page-links {
    text-align: center;
    margin-top: 45px;
}

.Extra-text {
    text-align: center;
}